html, body {
    height: 100%;
    display: grid;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}
h3{
    margin-top: 10px;
    font-size: 20px;
    color: white;
    text-align: center;
}

#contenedor_login{
    width: 300px;
    padding: 30px;
    border-radius: 10px;
    background-color: black;
}

#form_login {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
label{
    color: white;
}

#username{
    border-radius: 5px;
    padding: 10px;
    border: 1px solid black;
}
#password{
    border-radius: 5px;
    padding: 10px;
    border: 1px solid black;
}
#boton_login{
    border: none;
    background-color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 17px;
    cursor: pointer;
}
#boton_login:active{
    background-color: grey;
    color: white;
}

