body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

ul {
    list-style-type: none; /* Elimina los puntos de las listas */
    padding: 0; /* Elimina el padding de las listas */
}


.columnasTareas {
    display: inline-block; 
    vertical-align: top; /*con esto solucioné el movimiento superior*/
    width: 30%;
    margin-right: 20px; 
}

